<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{{ page.title }} | Brittany Muscarella</title>
    
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">

    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    {% if page.private == true %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/site.css">
    <script src="/assets/js/modernizr.js"></script>

    <script src="https://use.typekit.net/lfz6oef.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

    <!--

     .d8888b.  888       888        d8888  .d8888b.        .d88888b.  888     888 8888888888 8888888b.  888      .d88888b.        d8888 8888888b.
    d88P  Y88b 888   o   888       d88888 d88P  Y88b      d88P" "Y88b 888     888 888        888   Y88b 888     d88P" "Y88b      d88888 888  "Y88b
    Y88b.      888  d8b  888      d88P888 888    888      888     888 888     888 888        888    888 888     888     888     d88P888 888    888
     "Y888b.   888 d888b 888     d88P 888 888             888     888 Y88b   d88P 8888888    888   d88P 888     888     888    d88P 888 888    888
        "Y88b. 888d88888b888    d88P  888 888  88888      888     888  Y88b d88P  888        8888888P"  888     888     888   d88P  888 888    888
          "888 88888P Y88888   d88P   888 888    888      888     888   Y88o88P   888        888 T88b   888     888     888  d88P   888 888    888
    Y88b  d88P 8888P   Y8888  d8888888888 Y88b  d88P      Y88b. .d88P    Y888P    888        888  T88b  888     Y88b. .d88P d8888888888 888  .d88P
     "Y8888P"  888P     Y888 d88P     888  "Y8888P88       "Y88888P"      Y8P     8888888888 888   T88b 88888888 "Y88888P" d88P     888 8888888P"

    -->

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-wrapper">
        
        <div class="site-header clearfix">
            <h1 class="site-heading"><a href="/">Brittany Muscarella</a></h1>
            
        </div>
        
        <div class="clearfix">
            <div class="content-wrapper {% if page.header %}has-header{% endif %}">
                {{ content }}
            </div>
            <div class="sidebar">
                <div class="sidebar-padding">
                    <h3 class="box-heading">Oh hello</h3>
                    <ul> 
                        <li>
                            <a href="/about-me">About Me</a>
                        </li>
                        <li> 
                            <a href="http://www.goodreads.com/totsbels">Goodreads</a>
                        </li>
                        <li> 
                            <a href="http://twitter.com/the_write_britt">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
        <footer class="footer">
            <p>Copyright © 2017 Brittany Muscarella</p>
        </footer>
        
    </div>

</body>
</html>

